h4{
    font-size: calc(0.9rem + 0.1vw);
    font-weight: 700;
}
p:not(footer p){
    line-height: calc(1.3rem + 0.2vw + 0.1vh);
}

.work h1{
    margin: 0 0 calc(2rem + 1vw) 0;
}

.work header{
    padding: 0 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.work header h3{
    margin: 0;
}

.work header p{
    max-width: 25rem;
}

.work header a, .climate #process a, .about header a{
    cursor: pointer;
    position: relative;
    margin: 2rem 1.5rem 0 0;
    display: inline-block;
    width: 4.5rem; height: 4.5rem;
    background-color: var(--bg-color);
    border-radius: var(--corner-radius);
    box-shadow: var(--shadow-values) var(--shadow-color);
    background-repeat: no-repeat; background-size: 50%; background-position: center;
}
.climate #process a{background-color: var(--card-color)}
.work header a, .work header a::after, .climate #process a, .climate #process a::after, .about header a, .about header a::after{
    transition: 0.45s var(--easing-curve);
}
.work header a:hover, .climate #process a:hover, .about header a:hover{
    box-shadow: var(--shadow-hover-v) var(--shadow-hover-c);
}
.sites header a:first-of-type{background-image: url(../img/icons/external-link-square.svg);}
.sites header a:last-of-type, .print header a{background-image: url(../img/icons/info-square.svg);}
.climate #process a{background-image: url(../img/icons/file-alt.svg)}

.work header a::after, .about header a::after{
    position: absolute;
    left: 0; right: 0; bottom: -30%; margin: auto;
    color: var(--text-color);
    font-size: 0.7rem;
    text-align: center;
}
.sites header a:first-of-type::after{content: "view site"}
.sites header a:last-of-type::after, .print header a::after{content: "learn more"}

@media (hover: hover) and (pointer: fine){
    .work header a::after{
        bottom: -17%; opacity: 0;
    }
    .work header a:hover::after{
        bottom: -30%; opacity: 1;
    }
}

#process{
    background-color: var(--bg-color);
    padding: calc(3rem + 5vw) 10%;
}
#process section{
    margin: 0 0 calc(5vh + 3rem) 0;
    max-width: 980px; width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto 1.5fr
}
#process section p{
    margin: 0 2rem 0 0;
}
#process section h4{
    margin: 0 1rem 0 0;
}
#process h2{
    margin-top: 10rem;
}

.full-img{
    position: relative;
    display: block;
    width: auto;
    cursor: zoom-in;
    box-shadow: var(--shadow-values) var(--shadow-color);
}
.full-img:hover{
    box-shadow: var(--shadow-hover-v) var(--shadow-hover-c);
}
.full-img img{
    width: 100%; height: 100%; object-fit: cover;
}
.split{
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
    width: 100%;
}

.poetic .full-img, .ddh .full-img{
    margin-bottom: 2rem;
}

/*modal styles*/
.full-img.modal{
    transform: none!important;
    will-change: unset!important;
}
.full-img.modal img{
    z-index: 3;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0; margin: auto;
    max-width: 92vw; max-height: 92vh; object-fit: contain;
    filter: drop-shadow(var(--bf-shadow-values) var(--bf-shadow-color));
    animation: fade-in 0.6s var(--easing-curve);
}
@keyframes fade-in{
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
/*modal bg*/
body::before{
    z-index: 3;
    content: "";
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0; margin: auto;
    width: 100vw; height: 100vh;
    background-color: var(--opague-bg);
    opacity: 0;
    pointer-events: none; user-select: none;
    transition: 0.5s var(--easing-curve);
}
@supports (backdrop-filter: blur(42px)) or (-webkit-backdrop-filter: blur(42px)){
    body::before{
        backdrop-filter: blur(42px);
        -webkit-backdrop-filter: blur(42px);
    }
}
body.modal::before{opacity: 1};

/*carousel styles*/
.main-carousel{
    margin: 8rem 0;
}
.carousel-cell{
    width: 100%; height: 60vh; object-fit: contain;
}

@media only screen and (max-width: 950px){
    #process section{
        grid-template-columns: auto;
    }
    #process section p{
        margin: 0 0 1.5rem 0;
    }
    #process section h4{
        margin: 0 0 0.5rem 0;
    }
}
@media only screen and (max-width: 700px){
    .split{
        grid-template-columns: auto;
        grid-column-gap: none;
        margin: 2.5rem 0 0 0;
    }
    .full-img{margin: 0 0 2rem 0}
    @media (pointer: coarse), (hover: none){
        .carousel-cell{
            height: 40vh;
        }
        .flickity-button{
            opacity: 0;
        }
    }
    .work header{
        justify-content: flex-end;
        padding: 27vh 10% 10vh 10%;
        min-height: 100vh;
        height: auto;
    }
}

html.dark .sites header a:first-of-type{background-image: url(../img/icons/external-link-light.svg);}
html.dark .sites header a:last-of-type{background-image: url(../img/icons/info-light.svg);}
html.dark .climate #process a, html.dark .print header a{background-image: url(/img/icons/file-light.svg);}
html.dark .flickity-page-dots, html.dark .flickity-button{filter: invert(1);}