@charset "UTF-8";

*   {
    -webkit-box-sizing: border-box;    
    box-sizing: border-box;
    
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    
    font-family: 'Montserrat', sans-serif;
}

/*start of nav*/
    #nav{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;

        width: 100%;
        height: 3em;
        background-color: rgba(30, 30, 30, 0.92);

        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);


        -webkit-transition: 0.5s cubic-bezier(.65,.05,.45,.95);
        transition: 0.5s cubic-bezier(.65,.05,.45,.95);
    }

    /*solidifies the nav bg*/
    .nav-solid{
        background-color: rgba(0, 0, 0, 1) !important;
    }

    #navcontainer{
        position: relative;
        
        max-width: 1024px;
        height: 100%;
        margin: 0 auto;
        padding: 0em 1em;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #nav img{
        cursor: pointer;

        height: 1.35em;
        width: auto;
    }

    #nav img:hover{
        opacity: 0.65;

        -webkit-transition: 0.3s cubic-bezier(.65,.05,.45,.95);
        transition: 0.3s cubic-bezier(.65,.05,.45,.95);
    }

    #nav img:nth-last-child(1){
        -webkit-filter: invert(1);
        filter: invert(1);

        height: 1.25em;

        -webkit-transition: 0.45s cubic-bezier(1, 0, 0, 1);
        transition: 0.45s cubic-bezier(1, 0, 0, 1);
    }

    /*hides the cart in the dropdown view*/
    .cart{
        -webkit-transform: translateY(0.15em);
        transform: translateY(0.15em);
        opacity: 0;
    }

    #menu{
        display: none;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        cursor: pointer;
    }

    #menu1, #menu2{
        width: 1.1em;
        height: 1px;
        margin: 0.2em 0em;

        background-color: white;

        -webkit-transition: 0.45s cubic-bezier(1, 0, 0, 1);
        transition: 0.45s cubic-bezier(1, 0, 0, 1);
    }

    /*animation to change the menu button*/
    .cross #menu1{
        -webkit-transform: translateY(0.25em) rotate(-45deg);
        transform: translateY(0.25em) rotate(-45deg);
    }
    .cross #menu2{
        -webkit-transform: translateY(-0.2em) rotate(45deg);
        transform: translateY(-0.2em) rotate(45deg);
    }

    #navcontainer a{
        text-decoration: none;
        color: white;

        font-size: calc(0.8em + 0.1vw - 0.1vh);
        font-weight: 400;

        -webkit-transition: 0.3s cubic-bezier(.65,.05,.45,.95);
        transition: 0.3s cubic-bezier(.65,.05,.45,.95);
    }

    #navcontainer a:hover{
        opacity: 0.65;
    }

    #dropdown{
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        width: 100%;
        height: 0;
        padding: 1em 2.5em;

        background-color: black;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        transform-origin: top;

        -webkit-transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    #dropdown a{
        padding: 1em 0em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        text-decoration: none;
        color: transparent;

        font-size: calc(1em - 0.1vh);
        font-weight: 400;

        -webkit-transition: 0.42s ease-in-out;
        transition: 0.42s ease-in-out;
    }

    #dropdown a:last-child{
        border-bottom: none;
    }

    #dropdown a:hover{
        opacity: 0.65;
    }

    /*animation for the dropdown*/
    .dropdown{
        height: calc(100vh - 3em) !important;

        overflow: auto;

        -webkit-transform: scaleY(1) !important;
        transform: scaleY(1) !important;
    }

    /*removes the scrollbar when the dropdown menu overflows, but still lets it scrolls*/
    .dropdown::-webkit-scrollbar{
      display: none;
    }

    .dropanchor{    
        color: white !important;
    }
/*end of nav*/

    #cart-menu{
        z-index: 1;
        
        top: 3em;
        position: -webkit-sticky;
        position: sticky;
        margin: 0 auto;
        max-width: 1050px;
    }

    #cartMan{
        position: absolute;
        right: 0;
        top: 0.5em;
        margin: 1em;
        padding: 1.5em;

        color: transparent;
        font-size: 1.1em;
        font-weight: 500;
        text-align: center;
        
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: top right;
        transform-origin: top right;

        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        -webkit-box-shadow: 0vh 1vh 5vh -1vh rgba(0, 0, 0, 0.15);
        box-shadow: 0vh 1vh 5vh -1vh rgba(0, 0, 0, 0.15);
        
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        
        -webkit-transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .nocart{
        -webkit-transform: scale(1) !important;
        transform: scale(1) !important;
    }

    .nocart-text{
        color: #1a1a1a !important;
    }

/*start of landing*/
    #landing{
        height: auto;
        width: 100%;
        background: -webkit-gradient(linear, left top, right bottom, from(#8affb7), to(#50d7dd));
        background: linear-gradient(to bottom right, #8affb7, #50d7dd);
    }

    #landing h1{
        margin: 0px;
        padding: calc(0.8em + 0.1vw) 0em 0em 0em;

        color: black;

        font-size: calc(2.5em + 0.9vw);
        text-align: center;
        font-weight: 700;
    }

    #landing h4{
        margin: 0px;
        padding: 0em 0em 0em 0em;

        color: black;

        font-size: calc(1em + 0.5vw);
        text-align: center;
        font-weight: 500;
    }

    #landing div:nth-child(3){
        margin: 1em 0em;

        width: 100%;
        text-align: center;
    }

    #landing a{
        font-size: calc(1em + 0.2vw);
        color: #0070c9;
        font-weight: 600;
        text-decoration: none;
        position: relative;
    }
    /*

    #landing a::after{
        display: inline-block;
        position: absolute;
        padding-left: 0.3em;
        top: 0;
        bottom: 0; 

        font-style: normal;
        font-variant: normal;
        font-size: inherit;
        font-weight: 900;
        color: inherit;
        text-decoration: none;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; 
        content: "\f078";
    }
    */

    #landing a:hover{
        text-decoration: underline;
    }

    #landing span{
    /*    position: absolute;*/

        padding: 0.35em 0em 0em 0.3em;

        font-size: 0.7em;
        font-weight: 400;
    }

    #landing div:last-child{
        margin: 2em 0em 0em 0em;

        width: 100%;
        height:  calc(19em + 11vw - 1vh);

        background-image: url(../img/landing.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;

        mix-blend-mode:darken;

    /*    mix-blend-mode:screen;*/

    /*
        -webkit-filter: invert(1);
        filter: invert(1);
    */
    }
/*end of landing*/

/*start of overview*/
    #overview{
        height: auto;
        max-width: 100%;

        background-color: #fafafa;

        padding-bottom: calc(4em + 0.1vw);
    }

    #overview-wrapper{
        margin: 0 auto;
        max-width: 1440px;
        height: calc(19em + 49vh + 5vw);
        min-height: 800px;

        background-image: url(../img/powergside.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
    }

    .sectionhead{
        max-width: 1440px;

        padding: calc(50px + 5vw) 0em 1em calc(20px + 2vw);
        margin: 0 auto;
    }

    .sectionhead h4{
        margin: 0px 0 0.5em 0;

        font-size: calc(1em + 0.5vw);
        font-weight: 500;
    }

    .sectionhead h1{
        display: inline-block;
        margin: 0px;

        font-size: calc(2.25em + 1.15vw);
        font-weight: 700;

        background-color: #fafafa;
    }

    #overview p{
        margin: calc(5em + 0.1vw) auto 0em calc(20px + 2vw);
        width: 31vw;
        max-width: calc(25em + 2vw);

        font-weight: 700;
        font-size: calc(1em + 0.2vw);
        line-height: calc(1.2em + 0.6vh);
        color: #888;

        background-color: rgba(250, 250, 250, 0.65);

        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }

    #overview > p:last-child{
        display: none;
    }
/*end of overview*/

/*start of design*/
    #design{
        height: auto;

        margin: 0 calc(20px + 2vw);
    }

    .de-head{
        text-align: center;
        padding-left: 0px;
        margin-bottom: 3em;
    }

    .de-head h1{
        background-color: transparent;
    }

    #design > div:nth-child(2){
        margin: auto;

        max-width: 1440px;
        height: 50vh;

        background-image: url(../img/powergdes.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        background-color: #1a1a1a;

    }

    #de-grid{
        margin: 3em auto;
        max-width: 1440px;
        height: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr auto 2fr;
        grid-gap: 2em;
    }

    #design p{
        grid-column: 1/2;
        padding-left: 1.5em;

        color: #888;
        font-weight: 700;
        font-size: calc(1em + 0.2vw);
        line-height: calc(1em + 0.6vh);
    }

    #design p span{
        color: black;
    }

    #preview1{
        background-color: black;

        background-image: url(../img/powergdes-preview1.svg);
        background-size: cover;
        background-position: top left;

        grid-row-start: 2;
    }

    #preview2{
        background-color: black;

        background-image: url(../img/powergdes-preview2.svg);
        background-size: cover;
        background-position: bottom right;

        grid-row-start: 2;
    }

    #preview3{
        background-color: black;

        background-image: url(../img/powergdes-preview3.svg);
        background-size: cover;
        background-position: bottom right;

        grid-column: 1/3;
    }
/*end of design*/

/*start of specs*/
    #specs{
        -webkit-filter: invert(1);
        filter: invert(1);

        height: auto;
        max-width: 100%;

        background-color: white;

        padding-bottom: calc(4em + 0.1vw);
    }

    .spc-head h1{
        background-color: transparent;
    }

    #spc-grid{
        height: auto;
        max-width: 1440px;

        margin: 2em auto;
        padding: calc(20px + 2vw);

        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-row-gap: 3em;
    }

    #spc-grid h1{
        margin: 0;

        border-bottom: 1px solid #dddddd;

        font-size: 1.5em;
    }

    #spc-grid div{
        border-bottom: 1px solid #dddddd;

        padding: 0em 1em 3em 1em;
    }

    #spc-grid h3:last-child{
        margin-bottom: 0;
    }

    #spc-grid h3{
        margin-top: 0;

        font-size: 1.1em;
        font-weight: 400;
    }
    #spc-grid span{
        font-weight: 600;
    }

    #spc-grid img{
        margin-top: 1em;

        width: 100%;
        height: auto;

        padding: 0 calc(1em + 4vw) 0 calc(0.5em + 2vw);

        grid-column: 1/3;
    }

    .no-border{
        border-bottom: none !important;
        padding-bottom: 0em !important;
    }
/*end of specs*/

/*start of pricing*/
    #pricing{
        height: auto;
        max-width: 100%;

        background-color: white;

        padding-bottom: calc(4em + 0.1vw);
    }

    .pr-head h1{
        background-color: transparent;
    }

    #pr-grid{
        height: auto;
        max-width: 1200px;

        margin: 2em auto;
        padding: calc(20px + 2vw);

        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: calc(2em + 1vw);
    
    }

    #pr-grid img{
        grid-row: 1/5;

        margin: 1em;
    }

    #pr-grid h2{
        font-size: calc(2em + 0.5vw);
        margin: 0;
    }

    #pr-grid h5{
        margin-top: 0.5em;

        font-size: calc(1em + 0.1vw);
        font-weight: 500;
    }

    #pr-grid h3{
        opacity: 0.3;
    }

    #picker{
        opacity: 0.3;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    #picker div{
        padding: 2em 0.5em;
        border: 1px solid rgba(26, 26, 26, 0.42);
        border-radius: 10px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #picker h4{
        margin: 0.4em 0.4em 0 0.4em;
    }

    #picker div:nth-child(1) span{
        width: 35px;
        height: 35px;

        border-radius: 50px;
        border: 1px solid black;

        background-color: #fafafa;
    }

    #picker div:nth-child(2) span{
        width: 35px;
        height: 35px;

        border-radius: 50px;
        border: 1px solid black;
        background: -webkit-gradient(linear, left top, right bottom, from(#8affb7), to(#50d7dd));
        background: linear-gradient(to bottom right, #8affb7, #50d7dd);
    }

    #pr-grid button{
        opacity: 0.3;

        padding: 1em;
        background-color: #6bf;
        border: none;
        border-radius: 10px;

        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: white;
    }
/*end of pricing*/

/*start of contact*/
    #contact{
        height: auto;
        max-width: 100%;
        background: -webkit-gradient(linear, left top, right bottom, from(#8affb7), to(#50d7dd));
        background: linear-gradient(to bottom right, #8affb7, #50d7dd);

        padding-bottom: calc(4em + 0.1vw);
    }

    .con-head{
        padding-left: 0;
        
        text-align: center;
    }

    .con-head h1{
        background-color: transparent;
    }

    #con-grid{
        height: auto;
        max-width: 1200px;
        
        margin: 2em auto;
        padding: calc(20px + 2vw);
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        
        text-align: center;
    }

    #con-grid a{
        text-decoration: none;
        border-radius: 10px;

        padding: 3em 1em;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        -webkit-transition: 0.3s cubic-bezier(.65,.05,.45,.95);
        transition: 0.3s cubic-bezier(.65,.05,.45,.95);
    }

    #con-grid a:hover{
        background-color: rgba(255, 255, 255, 0.25);

        -webkit-box-shadow: 0vh 1vh 4vh -3vh rgba(0, 0, 0, 0.35);
        box-shadow: 0vh 1vh 4vh -3vh rgba(0, 0, 0, 0.35);
    }

    #con-grid i{
        margin: 0.5em;

        font-size: 2.5em;
        color: #1a1a1a;
    }

    #con-grid h3{    
        font-weight: 500;
        font-size: 1em;
        color: #1a1a1a;
    }

/*end of contact*/

footer{
    background-color: #eeeeee;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-box-align: center;
    
    -ms-flex-align: center;
    
    align-items: center;
}

footer p{
    max-width: 1200px;
    margin: 0em 2em;
    padding: 2em 0em;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    
    font-size: 0.7em;
    font-weight: 500;
    color: grey;
}

footer h1{
    max-width: 1200px;
    text-align: left;
    
    padding: 0.5em 2em 2em 2em;
    font-size: 0.7em;
    font-weight: 400;
    color: grey;
}

/*small nav*/
@media only screen and (max-width: 745px){
    #navcontainer a{
        display: none;
    }
    
    #nav img:not(:nth-child(2)){
        height: 1.2em;
    }
    
    #menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    #overview p{
        display: none;
    }
    
    #overview > p:last-child{
    margin: 2.5em calc(20px + 2vw) 0em calc(20px + 2vw);
    width: auto;
    max-width: calc(25em + 1vw);
        
    display: block;
}
    
    #de-grid{
    grid-template-rows: 1fr 45vh auto 45vh;
    }
    
    #design p{
    grid-column: 1/3;
    padding:0 1.5em 0 1.5em;
    }
}

/*tablet*/
@media only screen and (max-width: 768px){
    
}

/*phablet*/
@media only screen and (max-width: 650px){
    #pr-grid{
        grid-template-columns: 1fr;
    }
    
    #pr-grid img{
        grid-column: 1/2;
        margin: calc(1em + 4vw);
    }
    
    #con-grid{
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
    
    #con-grid a{
        background-color: rgba(255, 255, 255, 0.25);

        -webkit-box-shadow: 0vh 1vh 4vh -3vh rgba(0, 0, 0, 0.35);
        box-shadow: 0vh 1vh 4vh -3vh rgba(0, 0, 0, 0.35);
    }
}

/*phone*/
@media only screen and (max-width: 420px){
    #overview-wrapper{
        min-height: 200px;
        height: calc(35em + 10vh);
    }
    
    #design{
        margin: 0 0;
    }
    
    #de-grid{
        grid-template-rows: 1fr 45vh 45vh auto 45vh;
        
        grid-gap: 2em 1.5em;
    }
    
    #preview1{
        grid-column: 1/3;
        grid-row-start: 2;
    }
    
    #preview2{
        grid-column: 1/3;
        grid-row-start: 3;
    }
    
    #spc-grid{
        grid-row-gap: 0em;
    }
    
    #spc-grid h1{
        grid-column: 1/3;
        
        padding-bottom: 0.75em !important;
        
        border-bottom: none;
    }
    
    #spc-grid div{
        grid-column: 1/3;
        
        padding: 1.75em 0em 4em 0em;
        
        border-bottom: none;
        border-top: 1px solid #dddddd;
    }
    
    #spc-grid img{
        margin-top: 3em;
    }
}
